<router-outlet>

  <nav class="navbar">
    <a href="#">Home</a>
    <div class="border"></div>
    <a href="#">Inbox</a>
    <div class="border"></div>
    <a href="/squad">Squad</a>
      <a href="#">Squad Planner</a>
      <a href="#">Dynamics</a>
      <a href="#">Tactics</a>
      <a href="#">Data Hub</a>
      <a href="#">Staff</a>
      <a href="#">Training</a>
      <a href="#">Medical Centre</a>
    <div class="border"></div>
    <a href="#">Schedule</a>
    <a href="#">Competitions</a>
    <div class="border"></div>
      <a href="#">Scouting</a>
      <a href="#">Transfers</a>
    <div class="border"></div>
    <a href="#">Club Info</a>
    <a href="#">Club Vision</a>
    <a href="#">Finances</a>
    <div class="border"></div>
      <a href="#">Dev. Centre</a>
  </nav>
  
</router-outlet>